<span>
  <span><a routerLink="../../">User</a></span> /
  <span><a>Modify</a></span>
</span>
<section>
  <h3>Modify User</h3>
  <clr-alert clrAlertType="success" *ngIf="show" >
      <clr-alert-item>
       
        Addition of User {{name}} was successfully completed
     
      </clr-alert-item> 
    </clr-alert>
  <br>
  <form clrForm  [formGroup]="userForm" (ngSubmit)="submit()">
    <clr-select-container>
      <label>User Role *</label>
      <select clrSelect name="role"formControlName="role"> 
        <option value="admin" >Administrator</option>
        <option value="Empolyer">Empolyer</option>
      </select>
    </clr-select-container>
    <clr-input-container>
      <label >firstName*</label>
      <input formControlName="firstName"  clrInput type="text"  autocomplete="firstName"  name="firstName" placeholder="Enter firstName"
      />
      <clr-control-error *clrIfError="'required'">invalid  firstName</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label >lastName*</label>
      <input formControlName="lastName"  clrInput type="text"  autocomplete="lastName"  name="lastName" placeholder="Enter lastName"
      />
      
      <clr-control-error *clrIfError="'required'">invalid  lastName</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label >Email*</label>
      <input formControlName="email"  clrInput type="email"  autocomplete="email"  name="email"  placeholder="Enter e-mail" [disabled]="isEmailDisabled" />
      <clr-control-error *clrIfError="'required'">invalid Email</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label >Telephone*</label>
      <input formControlName="telephone"  clrInput type="number"  autocomplete="telephone"  name="telephone"  placeholder="Enter telephone" [disabled]="isTelephoneDisabled"  />
      <clr-control-error *clrIfError="'required'">invalid  Telephone</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label >Picture*</label>
      <!-- <input formControlName="picture"  clrInput type="s"  autocomplete="email"  name="email"  placeholder="Enter e-mail"  /> -->
      <!-- <clr-control-error *clrIfError="'required'">invalid  full Name</clr-control-error> -->
    </clr-input-container>
    <clr-password-container>
      <label >Password*</label>
      <input type="password" autocomplete="current-password"  name="password"  clrPassword  placeholder="Enter password"  formControlName="password"  [disabled] ="isPasswordDisabled"/>
      <clr-control-error *clrIfError="'required'">invalid Password</clr-control-error>
    </clr-password-container>
    <clr-password-container>
        <label >Password Confirme*</label>
        <input   type="password" autocomplete="current-password" name="confirmPassword" clrPassword placeholder="Confirm password" formControlName="confirmPassword"
        />
        <clr-control-error *clrIfError="'required'">invalid Password</clr-control-error>
      </clr-password-container>
      <br>
    
    <br>
      <div class="btn-group btn-outline-primary">
          <button class="btn btn-sm"  routerLink="../../" [disabled]="!show">
            <clr-icon shape="undo"></clr-icon> Back
          </button>
          <button class="btn btn-sm"  type="submit" [disabled]="userForm.invalid|| show"  >
            <clr-icon shape="plus"></clr-icon> Save
          </button>
         

      </div>
  </form>
</section>