<span>
    <span><a routerLink="../">Payment</a></span> /
    <span><a>Add</a></span>
</span>
<section>
    <h3>Add Payment</h3>
    <clr-alert clrAlertType="success" *ngIf="show">
        <clr-alert-item>

            Addition of Payment {{name}} was successfully completed

        </clr-alert-item>
    </clr-alert>
    <br>

    <form clrForm [formGroup]="paymentForm" (ngSubmit)="submit()">
        <clr-input-container>
            <label>Name*</label>
            <input clrInput type="text" formControlName="name" required />
            <clr-control-error> This field is required ! </clr-control-error>
        </clr-input-container>
        <clr-textarea-container>
            <label>Description*</label>
            <textarea clrTextarea formControlName="description"></textarea>
        </clr-textarea-container>



        <clr-select-container>
            <label>Payment-Method*</label>
            <select clrSelect name="options" formControlName="payment" required>
                <option *ngFor="let item of liste" value="{{item}}">{{item}}</option>

            </select>
        </clr-select-container>
        <br>
        <label class="alert-sm">* This field is required ! </label>
        <br><br>

        <div class="btn-group btn-outline-primary">
            <button class="btn btn-sm" routerLink="../" [disabled]="!show">
                <clr-icon shape="undo"></clr-icon> Back
            </button>
            <button class="btn btn-sm" type="submit" [disabled]="paymentForm.invalid|| show">
                <clr-icon shape="plus"></clr-icon> Save
            </button>
            <button class="btn btn-sm" [disabled]="!show" (click)="paymentForm.reset()">
                <clr-icon shape="plus"></clr-icon> Create new
            </button>

        </div>
    </form>
</section>