<clr-stack-view>
    <clr-stack-header>Transaction</clr-stack-header>


    <clr-stack-block [clrStackViewLevel]="1">
        <clr-stack-label>Detail</clr-stack-label>

        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>Id</clr-stack-label>
            <clr-stack-content>{{transaction.id}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>Name</clr-stack-label>
            <clr-stack-content>{{transaction.name}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>Description</clr-stack-label>
            <clr-stack-content>{{transaction.description}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>Amount</clr-stack-label>
            <clr-stack-content>{{transaction.amount}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>isCompleted</clr-stack-label>
            <clr-stack-content>{{transaction.isCompleted}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>isCredit</clr-stack-label>
            <clr-stack-content>{{transaction.isCredit}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>sourceId</clr-stack-label>
            <clr-stack-content>{{transaction.sourceId}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>ban</clr-stack-label>
            <clr-stack-content>{{transaction.ban}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>checkNumber</clr-stack-label>
            <clr-stack-content>{{transaction.checkNumber}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>sourceId</clr-stack-label>
            <clr-stack-content>{{transaction.sourceId}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>checkImage</clr-stack-label>
            <clr-stack-content>{{transaction.checkImage}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>dueDate</clr-stack-label>
            <clr-stack-content>{{transaction.dueDate}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>isOver</clr-stack-label>
            <clr-stack-content>{{transaction.isOver}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>operationNumber</clr-stack-label>
            <clr-stack-content>{{transaction.operationNumber}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>updateAt</clr-stack-label>
            <clr-stack-content>{{transaction.updateAt}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>Active</clr-stack-label>
            <clr-stack-content>{{transaction.isActive}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>createBy</clr-stack-label>
            <clr-stack-content>{{transaction.createBy}}</clr-stack-content>
        </clr-stack-block>
        <clr-stack-block [clrStackViewLevel]="2">
            <clr-stack-label>updatedBy</clr-stack-label>
            <clr-stack-content>{{transaction.updatedBy}}</clr-stack-content>
        </clr-stack-block>
    </clr-stack-block>

</clr-stack-view>