<div class="clr-row" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">Admin</div>
      <div class="card-block">
        <div class="card-title">detail:</div>
        <div class="card-text">firstName:
          {{user.firstName}} 
        </div>
        <div class="card-text">lastName:
        {{user.lastName}} 
        </div>
       <div class="card-text">email:
        {{user.email}} 
       </div>
        <div class="card-text">telephone:
         {{user.telephone}} </div>
        
</div>
</div>
</div>