<clr-header class="header-6">
  <div class="branding">
    <a routerLink="dashboard" class="nav-link">
      <img type="image/icon" class="icon img-ioc" src="" />
      <span class="title">ERP</span>
    </a>
  </div>
  <div class="header-actions">
    <clr-dropdown [clrCloseMenuOnItemClick]="false" class="DropDown">
      <button clrDropdownTrigger aria-label="Dropdown button" class="btn-profil">
        <img type="image/icon" class="icon rounded icon-class"
        
         />
        <span class="profile-class">{{user?.name}} </span>
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
        <div aria-label="Dropdown header Action 1" routerLink="/auth/detail" clrDropdownItem>
          <cds-icon class="icons" shape="user"></cds-icon> Mon profil
        </div>
        
        
        <div class="dropdown-divider" role="separator" aria-hidden="true">
        </div>
        <div clrDropdownItem (click)="logout()">
          <cds-icon shape="logout" class="icons"></cds-icon>
          Déconnecter
        </div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>