<b style="font-size: 3em; color: rgb(0, 0, 0); margin: 10px;">Category</b>
<br><br>
<div class="btn-group btn-primary">
    <button routerLink="add" [disabled]="selectedCategory.length>0" class="btn">Add</button>
    <button routerLink="update/{{id}}" [disabled]="selectedCategory.length>1|| selectedCategory.length==0" class="btn btn-success">modify</button>
    <button class="btn btn-danger" [disabled]="selectedCategory.length==0" (click)="showClick()">Delete</button>
  </div>
  
  <clr-datagrid  (clrDgRefresh)="refresh($event)"  [(clrDgSelected)]="selectedCategory"  (clrDgSelectedChange)="categorySelect($event)">
      <clr-dg-column>Category ID</clr-dg-column> 
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Description </clr-dg-column>
      <clr-dg-column>createAt </clr-dg-column>
        <clr-dg-row *clrDgItems="let category of data" [clrDgItem]="data" [clrDgItem]="category">
           
            <clr-dg-cell>{{category.id}}</clr-dg-cell>
            <clr-dg-cell>{{category.name}}</clr-dg-cell> 
            <clr-dg-cell>{{category.description}}</clr-dg-cell>
            <clr-dg-cell>{{category.createAt}}</clr-dg-cell>
        </clr-dg-row>  
        <clr-dg-detail *clrIfDetail="let detail">
          <clr-dg-detail-header> <b style=" color: rgb(60, 58, 230)">id</b>:{{ detail.id }}</clr-dg-detail-header>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Name</b>:{{ detail.name }}</clr-dg-detail-body>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Description</b> :{{ detail.description }}</clr-dg-detail-body>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Status</b> :{{ detail.status }}</clr-dg-detail-body>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">createAt</b> :{{ detail.createAt }}</clr-dg-detail-body>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">updateAt</b> :{{ detail.updateAt }}</clr-dg-detail-body>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">Active</b> :{{ detail.isActive }}</clr-dg-detail-body>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">createBy</b> :{{ detail.createBy }}</clr-dg-detail-body>
          <clr-dg-detail-body> <b style=" color: rgb(60, 58, 230)">updatedBy</b> :{{ detail.updatedBy }}</clr-dg-detail-body>
        </clr-dg-detail>
        
        <clr-dg-footer></clr-dg-footer>
    </clr-datagrid>
     
  <app-delete-category *ngIf="show" [listCategory]="list" (closed)="close()" (saved)="save()"></app-delete-category>  