<span>
    <span><a routerLink="../../">Price</a></span> /
    <span><a>Update</a></span>
</span>
<section>
    <h3>Update Price</h3>
    <clr-alert clrAlertType="success" *ngIf="show" >
        <clr-alert-item>
         
          Addition of Category {{name}} was successfully completed
       
        </clr-alert-item>  
      </clr-alert>
    <br>
    
    <form clrForm [formGroup]="priceForm" (ngSubmit)="submit()">
    
        <clr-input-container>
            <label>priceExcludingTax *</label>
            <input clrInput type="number" formControlName="priceExcludingTax"  required/>
            <clr-control-error  >  This field is required ! </clr-control-error> 
          
        </clr-input-container>
        <clr-input-container>
            <label>priceTTC *</label>
            <input clrInput type="number" formControlName="priceTTC"  required/>
            <clr-control-error  >   This field is required ! </clr-control-error> 
          
        </clr-input-container>
        <clr-input-container>
            <label>retailPrice *</label> 
            <input clrInput type="number" formControlName="retailPrice"  required/>
            <clr-control-error  >   This field is required !</clr-control-error> 
          
        </clr-input-container>
        <clr-input-container>
            <label>wholesalePrice *</label>
            <input clrInput type="number" formControlName="wholesalePrice"  required/>
            <clr-control-error  >   This field is required ! </clr-control-error> 
          
        </clr-input-container>
        
      
     
         <br>
        <label class="alert-sm">* This field is required ! </label>
        <br><br>

        <div class="btn-group btn-outline-primary">
            <button class="btn btn-sm"   routerLink="../" [disabled]="!show" >
              <clr-icon shape="undo"></clr-icon> Back
            </button>
            <button class="btn btn-sm" type="submit" [disabled]="priceForm.invalid|| show">
              <clr-icon shape="plus"></clr-icon> Save
            </button>
          

        </div>
    </form>
</section>