<span>
  <span><a routerLink="../../">Order</a></span> /
  <span><a>Add</a></span>
</span>
<section>
  <h3>Add Order</h3>
  <clr-alert clrAlertType="success" *ngIf="show">
    <clr-alert-item>

      Addition of Order {{name}} was successfully completed

    </clr-alert-item>
  </clr-alert>
  <br>
  <form clrStepper [formGroup]="form" (ngSubmit)="submit()">

    <clr-stepper-panel formGroupName="customer">
      <clr-step-title>Customer</clr-step-title>

      <clr-step-content *clrIfExpanded>

        <clr-combobox-container>
          <label>Customer </label>
          <clr-combobox formControlName="customerName" name="myState" required (clrInputChange)="openChange($event)">
            <clr-options>
              <clr-option *clrOptionItems="let  customer of dataCustomer; " [clrValue]="customer">
                <cds-icon shape="user"></cds-icon>
                Name: {{ customer.firstName}}
                {{ customer.lastName}}

              </clr-option>
            </clr-options>
          </clr-combobox>
        </clr-combobox-container>
        <table class="table">
          <thead>
            <tr>
              <th class="left">UserID</th>
              <th>firstName</th>
              <th> lastName</th>
              <th>Email</th>
            </tr>
          </thead> 
          <tbody>
            <tr>
              <td class="left">{{ customer.id}}</td>
              <td>{{ customer.firstName}}</td>
              <td>{{ customer.lastName}}</td>
              <td>{{ customer.email}}</td>
            </tr>
          </tbody>
        </table>
        <button clrStepButton="next">next</button>
      </clr-step-content>
    </clr-stepper-panel>

    <!-- <clr-stepper-panel formGroupName="OrderName">
      <clr-step-title>Order</clr-step-title>
      <clr-step-content *clrIfExpanded>
        <button class="btn btn-danger" [disabled]="selectedProduct.length==0" (click)="showModal=true">Delete</button>
        <div *ngIf="showModal ; then  deleteProduct"> </div>
        <clr-datagrid clr-datagrid [(clrDgSelected)]="selectedProduct" (clrDgSelectedChange)="productSelect($event)">
          <clr-dg-column>Product ID</clr-dg-column>
          <clr-dg-column>Name</clr-dg-column>
          <clr-dg-column>Price hors Tax</clr-dg-column>
          <clr-dg-column>Price TTC</clr-dg-column>
          <clr-dg-column>Quantity</clr-dg-column>
          <clr-dg-column>TotaleTTC</clr-dg-column>
          <clr-dg-row *clrDgItems="let CommandDetail of devisDetails" [clrDgItem]="data" [clrDgItem]="CommandDetail" >
            <clr-dg-cell> {{CommandDetail?.productId?.id}}</clr-dg-cell>
            <clr-dg-cell> {{ CommandDetail.productId?.name}}</clr-dg-cell>
            <clr-dg-cell> {{ CommandDetail.productId?.priceHorsTax}}</clr-dg-cell>
            <clr-dg-cell> {{ CommandDetail.productId?.priceTTC}}</clr-dg-cell>
            <clr-dg-cell> {{ CommandDetail.quantity}}</clr-dg-cell>
            <clr-dg-cell> {{ CommandDetail.TotalTTC}}</clr-dg-cell>
            </clr-dg-row>
          <clr-dg-footer></clr-dg-footer>
        </clr-datagrid>
        <button clrStepButton="next">next</button>
      </clr-step-content>
    </clr-stepper-panel>
     -->

  </form>